# Vertex AI / gcp
GOOGLE_CLOUD_PROJECT=
GCP_REGION=

# France Travail API
FT_CLIENT_ID=
FT_CLIENT_SECRET=

# Gmail SMTP
GMAIL_SENDER=
GMAIL_APP_PASSWORD=

# Scraper debug (true pour activer les logs détaillés)
DEBUG_SCRAPER=false
